body {
  background-color: beige;
}

/* resize header image */
header img {
  height: auto;
  max-width: 100%;
}

/* style title */
h1 {
  color: black;
  font-size: 80px;
  font-family: arial;
}


/* style navbar, apply fixed position at top of screen */
#nav-bar {
  background: orangered;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* style navbar list, make flex display so that they can be aligned on the same row, margin is 0 top and bottom with auto right and left */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* style navbar links */
nav li a {
  text-decoration: none;
  font-family: arial;
  color: beige;
  display: block;
  padding: 10px;
}

/* underline links when user hovers */
nav a:hover {
  text-decoration: underline;
}

/* style paragraphs */
p {
  border: lightgray solid 1px;
  box-shadow: 5px 10px hsla(16, 100%, 50%, 0.445);
  margin: 2em;
  padding: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: white;
}

#pricing ul{
  border: lightgray solid 1px;
  box-shadow: 5px 10px hsla(16, 100%, 50%, 0.445);
  margin-left: 25%;
  margin-right: 25%;
  padding: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: white;
  list-style: none;
}

#pricing li{
  text-align: center;
  text-decoration: none;
}

/* make container with videos a flex container, arrange content inside */
#video {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* make dice container a flex container, wrap, arrange content within */
.dice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* put margin around dice photos, resize */
.dice-photos img {
  margin: 2em 2em;
  height: auto;
  width: 300px;
}

/* make bag container a flex container, wrap, arrange content */
.bag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* resize dice bag images, add margin */
.bag-photos img {
  height: 300px;
  margin: 2em 2em;
}

/* make form a flex container - column, add style */
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(16, 100%, 50%, 0.445);
  padding: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


input {
  width: 30%;
  padding: 10px 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: orangered solid 1px;
  border-radius: 4px;
}

input:focus {
  outline: none;
}

label {
  margin: .5em;
}

.button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: .5em;
}

/* media queries - make fonts and photos smaller in screens smaller than 768px*/

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  #header {
    position: static;
  }

  h2 {
    font-size: 1.25em;
  }

  p {
    font-size: small;
  }

  #pricing li{
    font-size: small;
    
  }

  h3 {
    font-size: 1em;
  }

  .dice-photos img {
    width: 250px;
  }
  
  .bag-photos img {
    height: 250px;
  }
  
  .video-item iframe{
    width: auto;
  }
}