
/* resize header image, make it relative so that the title can live in it */
#header-img{
  width: auto;
  max-width: 100%;
  position: relative;
}

/* align title within header image */
#header .rollfordiscount{
  position: absolute;
  left: 5%;
  bottom: 5%;
}
/* style title */
h1{
color: beige;
font-size: 100px;
font-family: arial;
}

/* style subtitle, align at end */
h3{
  font-style: italic;
  text-align: end;
}


/* style navbar, apply sticky position */
#nav-bar {
  background: orangered;
  /* padding: 0; */
  position: sticky;
  top: 10px;
}

/* style navbar list, make flex display so that they can be aligned on the same row, margin is 0 top and bottom with auto right and left */
nav ul {
  list-style-type: none;
  /* padding: 0; */
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* style navbar links */
nav li a {
  text-decoration: none;
  font-family: arial;
  color: beige;
  display: block;
  padding: 10px;
}

/* underline links when user hovers */
nav a:hover {
  /* background-color: lightgray; */
  text-decoration: underline;
  /* font-weight: bold; */
  /* color: white; */
}

/* style paragraphs */
p {
  border: lightgray solid 1px;
  box-shadow: 5px 10px hsla(16, 100%, 50%, 0.445);
  margin: 2em;
  padding: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

/* make container with videos a flex container, arrange content inside JUSTIFY CONTENT ISN'T DOING THE THING */
#video{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* do something to make the items flex with container? */
.video-item{
  flex: 50%;
}

/* make dice container a flex container, wrap, arrange content within */
.dice-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* put margin in top/bottom dice photos, resize */
.dice-photos{
  margin: 2em 2em;
  height: auto;
  /* width: 400px; */
  /* border:  hsla(16, 100%, 50%, 0.445) solid 2px; */
}

/* make bag container a flex container, wrap, arrange content */
.bag-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bag-photos{
  width: 25%;
}

/* make form a flex container - column, add style */
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(16, 100%, 50%, 0.445);
  padding: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


input{
  width: 30%;
  padding: 10px 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: orangered solid 1px;
  border-radius: 4px;
}

input:focus{
outline: none;
}

label{
  margin: .5em;
}

.button{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: .5em;
}

/* media queries - change heading font size? change size of photos? hide videos? */

@media (max-width: 540px){

}